body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #BFA7A7, #F7F4F2);
    
  }

  h1 {
    display: flex;
    justify-content: center;
    
  }